<div class="row mt-3">
    <div class="col-md-4">
        <h5>Addess</h5>
        <hr>
        <p> Ekart Pvt Ltd.</p>
        <p> Ishaan Arcade 1,<br>
            2nd floor, <br>
            Thane-West
        </p>
        <p>Write to us: ekart@gmail.com</p>
        <p>Speak with us: +91 9876543121</p>
    </div>
    <div class="col-md-4">
        <h5>Quick Links</h5>
        <hr>
        <ul>
            <li><a class="anchor" href="home.html">Home</a></li>
            <li><a class="anchor" href="cart.html">Your Cart</a></li>
            <li><a class="anchor" href="about.html">About us</a></li>
            <li><a class="anchor" href="contact.html">Contact us</a></li>

        </ul>
    </div>
    <div class="col-md-4">
        <h5> Follow our socials </h5>
        <hr>
        <ul>
            <li><i class="bi bi-whatsapp"></i><a class="anchor"
                    href="http://www.whatsapp.com/">&nbsp;WhatsApp</a></li>
            <li><i class="bi bi-twitter-x"></i><a class="anchor"
                    href="http://www.twitter.com/">&nbsp;Twitter</a></li>
            <li><i class="bi bi-facebook"></i><a class="anchor"
                    href="http://www.facebook.com/">&nbsp;Facebook</a></li>
            <li><i class="bi bi-linkedin"></i><a class="anchor"
                    href="http://www.linkedin.com/">&nbsp;LinkedIn</a></li>
        </ul>
    </div>
</div>
</div>

</body>

</html>